<div class='container'>
<table style="width:600px" border="1px solid black">
  <tr>
    <td bgcolor="EBCCDC" style="width:100px"></td>
    <td style="font-style:italic">Останні дані отримані більше 4 хвилин тому</td>
  </tr>
  <tr>
    <td bgcolor="FCE6AD" style="width:100px"></td>
    <td style="font-style:italic">Останні дані отримані більше 1 хвилин тому</td>
  </tr>
  <tr>
    <td bgcolor="C4E5D4" style="width:100px"></td>
    <td style="font-style:italic">Дані отримуються своєчасно.</td>
  </tr>  
</table>
</div>
