{% extends "base.html" %}
{% load humanize %}
{% load mis_extras %}
{% block breadcrumbs %}
  <div class="container-fluid" style="background-color: #e3f2fd;">
    <div class="container">
      <ul class="breadcrumb103">
        <li><a href="/sys/">Home-></a></li>
        <li><a href="/sys/mis/{{ mis.id }}/">Mis#{{ mis.id }}-></a></li>
        <li class="active">Працівники</li>
      </ul> 
    </div>
  </div>
{% endblock breadcrumbs %}
{% block content %}
<div class="container-fluid">
<div class="container">
<h3>MIS #{{ mis.id }}: [{{ mis.mis_name }}]: <i><u>Працівники</u></i> [{{ staff_list_num }}]</h3>
</div>
<table style="width:1100px;font-size:12px" border="1px solid black" border-spacing="5px">
  <tr>
    <td>#</td>
    <th>id</th>
    <th>mis_staff_id</th> 
    <th>Локація</th>
    <th>Ім'я</th>
    <th>Прізвище</th>
    <th>Посада</th>
    <th>Кваліфікація</th>
    <th>Дійсний</th>
    <th style="width:130px;">Modified</th>
  </tr>
{% for staff in staff_list %}
  <tr bgcolor="{% cycle '#D0D0DF' '#F0F0FF' %}">
    <td>{{ forloop.counter }}</td>
    <td>{{ staff.id }}</td>
    <td><a href="/sys/staff/{{ staff.id }}">{{ staff.mis_staff_id }}</a></td>
    <td>{{ staff.mis_facility_id }}</td>
    <td>{{ staff.first_name }}</td>
    <td>{{ staff.family_name }}</td>    
    <td>{{ staff.title }}</td>
    <td>{{ staff.qualification }}</td>
    <td>{{ staff.is_active }}</td>
    <td>{{ staff.date_modified }}</td>
  </tr>
 {% endfor %}
</table>
({{ hostname }})
</div>
{% endblock content %}
