/*body {
}
h1 {
}
*/

/*.body-tiffany {
  background-color:#CDE5EF;
}

.breadcrumb103 {
  list-style: none;
  display: flex;
}*/

/*.container p {
}
  height: 30px;
*/

/*.table-time {
  width: 500px;
  border: none;
}
*/
/*.container table {
  margin-top: 10;
  text-align: left;
}
*/

/*.container table + a {
  width: initial;
}

.container table td, .container table th {
  padding-left: 1px;
  padding-top: 1px;
}

.table-time th {
  height:30px;
}
*/
/*.container table:nth-of-type(2), .container form table {
  border: none !important;
}

.container table a {
  color: #007bff;
}*/
