{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8" style="text-align: center;">
            <h1><i><u>Централь103</u></i></h1>
            {% if form.errors %}
            <p>Нічого не вийшло. Остання спроба.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p>Просимо зареєструватися</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table class="login-table">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
            </form>

            {# Assumes you setup the password_reset view in your URLconf #}
        </div>
        <div class="col-2">
        </div>
    </div>

</div>
{% endblock %}